[project]
	description = Just a test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sta (sony-staffan)
[access "refs/for/refs/*"]
	read = group user/Sta (sony-staffan)
	push = group user/Sta (sony-staffan)
	label-Code-Review = -2..+2 group user/Sta (sony-staffan)
	label-Verified = -1..+1 group user/Sta (sony-staffan)
	rebase = group user/Sta (sony-staffan)
	removeReviewer = group user/Sta (sony-staffan)
	submit = group user/Sta (sony-staffan)
[access "refs/heads/*"]
	read = group user/Sta (sony-staffan)
	create = group user/Sta (sony-staffan)
	push = +force group user/Sta (sony-staffan)
	pushMerge = group user/Sta (sony-staffan)
[access "refs/tags/*"]
	push = group user/Sta (sony-staffan)
	push = +force group user/Sta (sony-staffan)
